<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login page</title>
</head>

<body style="margin-left: 100px; margin-right: 100px">

<header style="background-color:#fffbd9; height:30px; font-weight: bold; font-size: x-large;">
    <p>Login page</p>
</header>

<form th:method="POST" th:action="@{/login}">
    <br>
    <br>
    <div>
        <label for="username">User login:</label>
        <input style="width: 150px; margin-left: 20px" type="text" id="username" name="username">
    </div>
    <br>
    <div>
        <label> Password: <input style="width: 150px; margin-left: 25px" type="password" name="password"/></label>
    </div>
    <br>
    <input type="submit" value="Login"/>
</form>

<p>Have no account? <a th:href="@{/users/registration}">Register now!</a></p>

<div style="color: red" th:if="${param.error}">Invalid username or password.</div>
<div style="color: #1418bd" th:if="${param.logout}"> You have been logged out.</div>

</body>
</html>